body {
	line-height: 1.467;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 1em;
    margin: 1em 0 0 0 ;
}

nav {
	margin:  0;

}

svg {
	display: block;
	margin: 0 auto;
	overflow:visible; /* Firefox supports overflow:visible on inline svg, Chrome does not */
}

ul {
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

li {
	list-style-type: none;
	display: inline;
	padding-right: .5em;
	font-weight: normal;
	font-size: 75%;
	padding: .5em;
}

li.active {
	border: 1px solid #1d91c0;
	border-radius: 2px;
	background: #efefef;
	padding: .5em;
}

.tick text{		
	font-size: 1em;
}

@media (max-width: 768px) {
	li {
		font-size: 60%;
		font-weight: bold;
	}
	
}
