body{
	line-height: 1.467;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin: 0!important;
    padding: 0!important;
}

svg{
	background: #efefef;
	margin: 0 auto;
}
section{
	margin: 0 auto;
	text-align: center;
}
